.register {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #2d3250;
    background-color:#171E35;

  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.register-card{
  display: inherit;
  width: 800px;
  background-color: #424769;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.register-image {
  flex: 1;
  display: inherit;
  overflow: hidden;
}

.register-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.login-form {
  flex: 1;
  gap: 20px;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.login-form h2 {
  color: white;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 15px;
  background-color: #676f9d;
  border: none;
  color: white;
  font-size: 14px;
  transition: ease-out 0.2s;
}

.input-group label {
  position: absolute;
  left:  12px;
  top: 16px;
  color: #a0a7c0;
  font-size: 14px;;
  pointer-events: none;
  transition: 0.3s ease;
}
.input-group input:focus + label ,
.input-group input:not(:placeholder-shown) + label {
  top: -20px;
  left: 8px;
  font-size: 15px;
  padding: 0 5px;
  color:#f9b17a;
}
.input-group input:focus {
  transform: scale(1.01,1.01);
  transition: 0.3s;
  outline: none;
  border-left: 4px solid #f4a261;

}
.register-btn {
  padding: 14px;
  border: none;
  border-radius: 6px;
  background-color: #f4a261;
  color: #2f3552;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(244,162,97,0.4);
}

.register-btn:hover {
  background-color: #ffb870;
  box-shadow: 0 8px 20px rgba(244,162,97,0.6);
}
.social-login {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #f4a261;
  background-color: #676f9d;
  color: #cbd5e1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
}

.social-btn:hover{
  transform: translateY(-5px);
  border-color: #f4a261;
  color: #f4a261;
  box-shadow: 0px 5px 15px rgba(244,162,97,0.4);

}
.social-icon.google:hover {
  color: #db4437;
  border-color: #db4437;
}

.social-btn.github:hover {
  color: #ffffff;
}

.social-btn.microsoft:hover {
  color: #00a4ef;
  border-color: #00a4ef;
}
