.divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 25px 0;
  color: #a0a7c0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  flex: 1;
}
.container {
  display: flex;
    flex-direction: column;
  justify-content: center;
}
.divider::before,
.divider::after {
  content: "";
  flex: 1;              /* THIS IS CRITICAL */
  height: 1px;
  background: #676f9d;  /* simplify first */
}

.divider span {
  padding: 0 15px;      /* THIS CREATES SPACE */
  white-space: nowrap;
}

